:root {
    --prime-yellow: #FFC700;
    --blue-prime: #385692;
    --blue-dark: #1D2E47;
    --white: #FFFFFF;
    --white-200: #EFF8FF;
    --white-400: #EFF8FF;
    --gray-light: #DBDBDB;
    --gray: #6E7275;
    --gray-200: #293145;
    --intro: #f6f8fc;
}